.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.header {
    background-color: #2D232E;
    display: flex;
    color: #F1F0EA;
    position: relative;
    width: 100%;
}

.title {
    text-align: center;
    flex:1 0 auto;
}

.hero {
    height: 150px;
    background-color: #534B52;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tracklist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    margin: 3rem 0;
}
