.Playlist {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 320px;
    min-width: 320px;
    border: dotted 1px #534B52;
    padding: 1rem 0;
}

input {
    border-bottom: 1px solid #474448;
}

.header {

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.secondaryButton {
    height: 2rem;
    border: 0.5px solid #534B52;
    border-radius: 0;
    padding: 0 1rem;
    color: #534B52;
    font-weight: 300;
    font-size: 0.75rem;
}

.secondaryButton:hover {
    background-color: hsl(49, 22, 45);
}