.SearchResults {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 320px;
    min-width: 320px;
    border: dotted 1px #534B52;
    padding: 1rem 0;
}

.header {

}